<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>flora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">flora</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->
<head>
  <title> FLORA </title>
</head>
<br>
  <h1> Flora Observada en la Uam Lerma</h1>
<div class="coneinerFotos">
  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Cirsium rhaphilepis_ Cardo Negro.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Rhaphilepis</i></p>
          <p>Cardo Negro</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Cortaderia selloana_ Hierba de las Pampas.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Cortaderia Selloana</i></p>
          <p>Hierba de las Pampas</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Cyperus longus_ Juncia Loca.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Cyperus Longus</i></p>
          <p>Juncia Loca</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Hordeum jubatum_ Cebada Cimarrona.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Hordeum Jubatum</i></p>
          <p>Cebada Cimarrona</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/flora/Hydrocotyle Ranunculoides_ Redondita de agua.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Hydrocotyle Ranunculoides</i></p>
          <p>Redondita de Agua</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Juncus Scirpoides_  Junco de Aguja.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Juncus Scirpoide</i></p>
          <p>Junco de Agua</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Leersia Hexandra_ Hierba de Arroz de Pantano.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Leersia Hexandra</i></p>
          <p>Hierba de Arroz de Pantano</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Lemna gibba_ Lenteja de Agua.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Lema Gibba</i></p>
          <p>Lenteja de Agua</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Potamogeton pectinatus_ Madejas.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Potamogeton Pectinatus</i></p>
          <p>Madejas</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Rumex obtusifolius_ Lengua de Vaca.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Rumex obtusifolius_</i></p>
          <p>Lengua de Vaca</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Sambucus Mexicana_ Saúco Negro.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Sambucus Mexicana</i></p>
          <p>Saúco Negro</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="../../../assets/imagenes/flora/Sounchus asper_ Cerraja.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Sounchus Asper</i></p>
          <p>Cerraja</p>
          <p>Fotografía: Gisela Gacia Guzman</p>
      </div>
  </div>
</div>
  <div>
      <!--nos regresa a nuestra página de inicio-->
      <P class="enlaces1" routerLink="/home" > INICIO</P>
      <p class="enlaces2" routerLink="/fauna" > FAUNA </p>
  </div>

  <!--
  <form action="" method="post">
      <input type="file" name="file" id="file">
      <div id="preview" class="styleImage"></div>
  </form>
-->
