<body>

  <h1> Fauna Observada en la Uam Lerma</h1>
  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Buteo platypterus_agililla alas anchas_20231004_015.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Buteo Platypterus</i></p>
          <p>aguililla alas anchas</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Cardellina pusilla_chipe de corona negra_20230218_001.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Cardellina Pusilla</i></p>
          <p>chipe de corona negra</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Charadrius vociferus_chorlo tildío_20230218_001.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Charadrius Vociferus</i></p>
          <p>chorlo tildío</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Corthylio calendula_reyezuelo de corona roja_20230218_001.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Corthylio Calendula</i></p>
          <p>reyezuelo de corona roja</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Oritrurus superciliossus_zacatonero rayado_20230218_003.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Oritrurus Superciliossus</i></p>
          <p>zacatonero rayado</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Passer domesticus_gorrión doméstico_20230218_001.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Passer Domesticus</i></p>
          <p>gorrión doméstico</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Pheuticus melanocephalus_picogordo tigrillo_20230218_003.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Pheuticus Melanophalus</i></p>
          <p>Picogordo Tigrillo</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Pyrocephalos rubinus_mosquero cardenalito_20230218_002.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Pyrocephalos Rubinus</i></p>
          <p>Mosquero Cardenalito</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="galeria">
      <div class="foto">
          <img src="imagenes/fauna/Tachycineta thalassina_golondrina verdemar_20230218_002.jpg" alt="">
      </div>
      <div class="pie">
          <p><i>Tachycineta Thalassina</i></p>
          <p>Golondrina verdemar</p>
          <p>Fotografía: Rurik Hermann List Sánchez</p>
      </div>
  </div>

  <div class="enlaces">

      <!--nos regresa a nuestra página de inicio-->
      <a href="index.html" > INICIO</a> <br>
      <a href="flora.html"> FLORA</a>
  </div>

      <form action="" method="post">
          <input type="file" name="file" id="file">
          <div id="preview" class="styleImage"></div>
      </form>

      <script src="main.js"></script>

</body>
